.text-description-eventnotice {
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.evento-noticia p {
  color: #606060!important;
}
.evento-noticia span {
  color: #606060!important;
}

