.carrousel-gallery {
  height: 600px;
}
.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}
@media screen and (max-width: 640px) {
  .swiper {
    height: 300px;
  }
  .carrousel-gallery {
    height: 100%;
  }
}
